# Solve, by hand, the optimal mining problem:

generate a set of random (weight, fee) pairs

In [1]:
import numpy as np
import seaborn as sns
import ipywidgets as widgets
import matplotlib.pyplot as plt
import itertools
from scipy.spatial import ConvexHull
import scipy.optimize
import random
import pandas as pd
from random import randint
%matplotlib notebook
sns.set()

In [2]:
def gencoordinates(weight, fee):
    seen = set()

    x, y = randint(weight, fee), randint(weight, fee)

    while True:
        seen.add((x, y))
        yield (x, y)
        x, y = randint(weight, fee), randint(weight, fee)
        while (x, y) in seen:
            x, y = randint(weight, fee), randint(weight, fee)

In [4]:
g = gencoordinates(1, 100)
next(g)
first_pair = next(g)
first_pair

(1, 56)

In [5]:
h = gencoordinates(1, 100)
next(h)
second_pair = next(h)
second_pair

(8, 77)

In [6]:
i = gencoordinates(1, 100)
next(i)
third_pair = next(i)
third_pair

(69, 67)

In [7]:
f = gencoordinates(1, 100)
next(f)
fourth_pair = next(f)
fourth_pair

(41, 70)

Alternatively, ...

In [8]:
import random
max_weight = 200

n = 1000
weights = []
fees = []
for x in range (0, n):
    weights.append(random.random())
    fees.append(random.random())

df_weight_fees = pd.DataFrame(data=zip(weights,fees),columns=['Weight','Fee'])
df_weight_fees

       Weight       Fee
0    0.943725  0.253121
1    0.893773  0.588304
2    0.441703  0.132718
3    0.806514  0.838492
4    0.338056  0.900847
..        ...       ...
995  0.267570  0.549394
996  0.206076  0.030517
997  0.291135  0.204667
998  0.118426  0.664158
999  0.890924  0.906919

[1000 rows x 2 columns]

within a hard weight limit of, say, 200, try to get the maximum sum of fees

In [9]:
A = {
  "weight": 4,
  "fee": 9,
}

B = {
  "weight": 3,
  "fee": 8,
}

C = {
  "weight": 1,
  "fee": 10,
}

print(A["weight"])

4

In [10]:
pairs = [('A', 31, 49), ('B', 58, 15), ('C', 45, 70)]

In [11]:
def greedy_mining(pairs, capacity):
    pairs = sorted(pairs, key=lambda item:item[1], reverse=True)
    chosen_pair = {}
    
    
greedy_mining(pairs, 200)

In [12]:
df_weight_fees['Ratio'] = df_weight_fees['Fee']/df_weight_fees['Weight']

In [13]:
df_weight_fees

       Weight       Fee     Ratio
0    0.943725  0.253121  0.268215
1    0.893773  0.588304  0.658225
2    0.441703  0.132718  0.300469
3    0.806514  0.838492  1.039650
4    0.338056  0.900847  2.664785
..        ...       ...       ...
995  0.267570  0.549394  2.053269
996  0.206076  0.030517  0.148085
997  0.291135  0.204667  0.702998
998  0.118426  0.664158  5.608193
999  0.890924  0.906919  1.017953

[1000 rows x 3 columns]

not sure how to continue...